body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1d;
    color: #c9c9c9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column; 
    align-items: center;   
    justify-content: flex-start; 
}


#hero-details {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
    margin-top: 20px;
}

.container {
    text-align: center;
    background-color: #2b2b30;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#randomize-btn {
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#randomize-btn:hover {
    background-color: #45a049;
}

#hero-display p {
    font-size: 18px;
    margin: 10px 0;
}
